# Base de datos (Postgres)
DB_USER=patito1
DB_PASSWORD=mypassword
DB_NAME=postgresdb
DB_HOST=postgres
DB_PORT=5433

# API
PORT=3000

# Keycloak
KEYCLOAK_DB=postgres
KC_DB_URL_HOST=postgres
KC_PORT=9090
KEYCLOAK_ADMIN=pedro1234
KEYCLOAK_ADMIN_PASSWORD=guanabana555
KC_USER_NAME=user-test
KC_USER_PASSWORD=12345
KC_CLIENT_SECRET=secreto-api-123